/* ---------------- `markdown-it-prism` ---------------- */
@import './prism-theme-vars.css';
@import './prism-atom-one.css';

/* ---------------- `markdown-it-anchor` ---------------- */
a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -1em;
  padding-right: 0.4em;
  font-size: 0.85em;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;

  &:hover,
  &:focus {
    opacity: 1;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover,
  &:focus {
    .header-anchor {
      opacity: 1;
    }
  }
}
