# ----------------------------------------------------------------
# Sync with `.gitignore`
# ----------------------------------------------------------------
node_modules
.DS_Store
dist
dist-ssr
*.local

# Local Netlify folder.
.netlify

# Cross-branch files.
functions/lib/client
functions/lib/server

# ----------------------------------------------------------------
# Custom
# ----------------------------------------------------------------
*.css
*.yaml
*.yml