# ----------------------------------------------------------------
# Sync with `.gitignore`
# ----------------------------------------------------------------
node_modules
.DS_Store
dist
dist-ssr
*.local

# Netlify.
.netlify

# Serverless function.
functions/lib/client
functions/lib/server

# ----------------------------------------------------------------
# Custom
# ----------------------------------------------------------------
*.css
