@import './prism-theme-vars.css';

:root {
  /* Based on: https://github.com/Binaryify/OneDark-Pro/blob/master/src/themes/themeData.json */
  /* One Dark Pro Vivid */
  --one-dark-pro--chalky: #e5c07b;
  --one-dark-pro--coral: #ef596f;
  --one-dark-pro--dark: #5c6370;
  --one-dark-pro--error: #f44747;
  --one-dark-pro--fountainBlue: #2bbac5;
  --one-dark-pro--green: #89ca78;
  --one-dark-pro--invalid: #ffffff;
  --one-dark-pro--lightDark: #7f848e;
  --one-dark-pro--lightWhite: #abb2bf;
  --one-dark-pro--malibu: #61afef;
  --one-dark-pro--purple: #d55fde;
  --one-dark-pro--whiskey: #d19a66;

  /* Prism */
  --prism-scheme: dark;

  --prism-foreground: #abb2bf;
  --prism-background: #232834;

  --prism-comment: var(--one-dark-pro--dark);
  --prism-string: var(--one-dark-pro--green);
  --prism-literal: var(--one-dark-pro--coral);
  --prism-keyword: var(--one-dark-pro--purple);
  --prism-function: var(--one-dark-pro--malibu);
  --prism-deleted: var(--one-dark-pro--coral);
  --prism-class: var(--one-dark-pro--chalky);
  --prism-builtin: var(--one-dark-pro--chalky);
  --prism-property: var(--one-dark-pro--coral);
  --prism-namespace: var(--one-dark-pro--chalky);
  --prism-punctuation: var(--one-dark-pro--lightWhite);
  --prism-decorator: var(--one-dark-pro--malibu);
  --prism-operator: var(--one-dark-pro--fountainBlue);
  --prism-number: var(--one-dark-pro--whiskey);
  --prism-boolean: var(--one-dark-pro--whiskey);
  --prism-variable: var(--one-dark-pro--coral);
  --prism-constant: var(--one-dark-pro--chalky);
  --prism-symbol: var(--one-dark-pro--fountainBlue);
  --prism-interpolation: var(--one-dark-pro--purple);
  --prism-selector: var(--one-dark-pro--purple);
  --prism-keyword-control: var(--one-dark-pro--purple);
  --prism-regex: var(--one-dark-pro--fountainBlue);
  --prism-json-property: var(--one-dark-pro--coral);
  --prism-inline-background: var(--prism-background);
  --prism-tag: var(--one-dark-pro--coral);

  --prism-line-number: #707a8c66;
  --prism-line-number-gutter: #2e3440;
  --prism-line-highlight-background: #191e2a;
  --prism-selection-background: #394960;

  --prism-font-family: 'Jetbrains Mono', 'Hack', Consolas, 'Ubuntu Mono', monospace;

  --prism-inline-padding-x: 0.5em;
  --prism-inline-padding-y: 0.25em;
}
