:root {
  --prism-font-family: 'Jetbrains Mono', 'Fira Code', Hack, Consolas, 'Ubuntu Mono', monospace;

  /* Sizing */
  --prism-block-radius: 1em;
  --prism-inline-padding-x: 0.5em;
  --prism-inline-padding-y: 0.2em;
  --prism-inline-radius: 0.5em;
}

/* `Atom One Light` theme */
/* Based on: https://github.com/akamud/vscode-theme-onelight */
html:not(.dark) {
  /* Colors */
  --prism-foreground: #383a42;
  --prism-background: #fafafa;

  /* Tokens */
  --prism-comment: #a0a1a7;
  --prism-string: #50a14f;
  --prism-literal: #e45649;
  --prism-keyword: #a626a4;
  --prism-function: #4078f2;
  --prism-deleted: #e45649;
  --prism-class: #c18401;
  --prism-builtin: #c18401;
  --prism-property: #e45649;
  --prism-namespace: #e45649;
  --prism-punctuation: #383a42;
  --prism-decorator: #4078f2;
  --prism-operator: #0184bc;
  --prism-number: #986801;
  --prism-boolean: #986801;
  --prism-variable: #e45649;
  --prism-constant: #c18401;
  --prism-symbol: #0184bc;
  --prism-interpolation: #ca1243;
  --prism-selector: #a626a4;
  --prism-keyword-control: #a626a4;
  --prism-regex: #0184bc;
  --prism-json-property: #e45649;
  --prism-tag: #e45649;
  --prism-inline-foreground: var(--prism-foreground);
  --prism-block-border-color: theme('colors.gray.300');

  /* Extension */
  --prism-line-number: #9d9d9f;
  --prism-line-highlight-background: #383a420c;
  --prism-selection-background: #e5e5e6;
}

/* `Atom One Dark` theme */
/* Based on: https://github.com/akamud/vscode-theme-onedark */
html.dark {
  /* Colors */
  --prism-foreground: #abb2bf;
  --prism-background: #282c34;

  /* Tokens */
  --prism-comment: #5c6370;
  --prism-string: #98c379;
  --prism-literal: #e06c75;
  --prism-keyword: #c678dd;
  --prism-function: #61afef;
  --prism-deleted: #e06c75;
  --prism-class: #e5c07b;
  --prism-builtin: #e5c07b;
  --prism-property: #e06c75;
  --prism-namespace: #e06c75;
  --prism-punctuation: #abb2bf;
  --prism-decorator: #61afef;
  --prism-operator: #56b6c2;
  --prism-number: #d19a66;
  --prism-boolean: #d19a66;
  --prism-variable: #e06c75;
  --prism-constant: #e5c07b;
  --prism-symbol: #56b6c2;
  --prism-interpolation: #be5046;
  --prism-selector: #c678dd;
  --prism-keyword-control: #c678dd;
  --prism-regex: #56b6c2;
  --prism-json-property: #e06c75;
  --prism-tag: #e06c75;
  --prism-inline-foreground: var(--prism-foreground);

  /* Extension */
  --prism-line-number: #636d83;
  --prism-line-highlight-background: #99bbff0a;
  --prism-selection-background: #3e4451;
}
