@import './vendors/tailwind.css';
@import './vendors/nprogress.css';
@import './markdown/main.css';
@import './forms';

:root {
  --scrollbar--bg: theme('colors.gray.200');
  --scrollbar--thumb: theme('colors.gray.400');
  --scrollbar--thumb-hover: theme('colors.gray.500');
}

* {
  scrollbar-color: var(--scrollbar--thumb) var(--scrollbar--bg);
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar:horizontal {
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar--bg);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar--thumb);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar--thumb-hover);
}

html:not(.dark) {
  @apply text-gray-800 bg-white;
}

html.dark {
  --scrollbar--bg: theme('colors.gray.800');
  --scrollbar--thumb: theme('colors.gray.600');
  --scrollbar--thumb-hover: theme('colors.gray.500');

  @apply text-gray-300 bg-gray-900;
}
